---
// import GC from "../components/GC.astro";
import GCard from '../components/GCard.astro';
import Layout from "../layouts/Layout.astro";

const url = 'https://proxy.finance.qq.com/ifzqgtimg/appstock/app/ReverseRepo/get?app=wzq';
const response = await fetch(url);
const json =  await response.json();
const isError = json == null || json.code != 0
const data = json.data.data;
const bestOnGivenDay = json.data.bestOnGivenDay;
const szData = data.sz;
const shData = data.sh;
const requestUrl =  new URL(Astro.request.url);
const buyAmount = requestUrl.searchParams.get('buyAmount') || 10;

---

<Layout  title="国债逆回购">
   <div class="mx-auto w-full max-w-2xl">
    {
        isError && <p> 请求数据错误 </p>
    }

    { !isError &&
    <div class="form-control m-2 w-full">
        <label class="input-group justify-end">
        <span>购买金额：</span>
        <input type="text" placeholder={buyAmount} class="input input-bordered" id="buyAmount" />
        <span>万元</span>
        </label>
    </div>

    <div role="tablist" class="tabs tabs-bordered tabs-lg w-full">
        <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="深市" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-2">
            <div class="w-full mx-auto">
                {
                    szData.map(item => {
                        if(bestOnGivenDay.sc == 'sz' && bestOnGivenDay.term == item.term) {
                            item.bestOnGivenDay = true;
                        }
                       return <GCard item={item} buyAmount={Number(buyAmount * 10000)} />
                    } )
                }   
            </div>
        </div>

        <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="沪市" checked />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-2">
            <div class="w-full mx-auto flex flex-col">
                {
                    shData.map(item => {
                        if(bestOnGivenDay.sc == 'sh' && bestOnGivenDay.term == item.term) {
                            item.bestOnGivenDay = true;
                        }
                        return <GCard item={item} buyAmount={Number(buyAmount * 10000)} />
                    } )
                }   
            </div>
        </div>
    </div>

    }
    
   </div>
</Layout>

<script>

    let buyAmount = document.querySelector('#buyAmount');
    buyAmount.addEventListener('blur', function(e) {
        if(e.target.value == '') {
            return;
        }
        let url = new URL(window.location.href);
        url.searchParams.set('buyAmount', e.target.value);
        window.location.href = url.href;

    })
    buyAmount.addEventListener('keydown', (e) => {
        if (e.key != 'Enter') {
            return;
        }
        if(e.target.value == '') {
            return;
        }
        let url = new URL(window.location.href);
        url.searchParams.set('buyAmount', e.target.value);
        window.location.href = url.href;
    });


</script>