---
import Content from '../components/Content.astro';
import CustomLayout from '../layouts/CustomLayout.astro';
// import Card from '../components/Card.astro';
const formatter = new Intl.DateTimeFormat('zh', {
  year: 'numeric',
  month: '2-digit',
  day: '2-digit'
});
const date = formatter.format(new Date()).replaceAll("/", "-");
console.log(date)
const response = await fetch("https://kwcrssftu2.execute-api.ap-southeast-1.amazonaws.com/default/core-analysis?date=" +  date );
const data = await response.json();
console.log(data)
---

<CustomLayout title={data.Status == 0 ? data.Result.articleTitle : data.Message}>
	<div>
		<Content data={data} date={date}/>
	</div>
</CustomLayout>

